
<div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add user</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="name" class="2 col-form-label">Username</label>
                    <input type="text" name="user_name" class="form-control" id="user_name">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Role</label>
                    <select class="form-control" id="user_role">
                        <option value="2">Manager</option>
                        <option value="3">Developer</option>
                    </select>
                </div>

                <input type="hidden" id="sprint_projectName" value="@ViewBag.projectName">
                <input type="hidden" id="sprint_user" value="@ViewBag.userName">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="user_create" type="submit" class="btn btn-success">Add user</button>
            </div>
        </div>
    </div>
</div>

