


<div class="modal fade" id="sprint_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Create Project</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="name" class="2 col-form-label">Project name</label>
                    <input type="text" name="sprint_name" class="form-control" id="sprint_name">
                </div>
                <div class="form-group">
                    <label for="start_time" class="2 col-form-label">Start time</label>
                    <input type="date" name="start_time" class="form-control" id="sprint_start_time">
                </div>
                <div class="form-group">
                    <label for="weeks" class="2 col-form-label">weeks</label>
                    <input type="number" name="weeks" class="form-control" id="sprint_weeks">
                </div>
                <input type="hidden" id="sprint_projectName" value="@ViewBag.projectName">
                <input type="hidden" id="sprint_user" value="@ViewBag.userName">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sprint_create" type="submit" class="btn btn-success">Create sprint</button>
            </div>
        </div>
    </div>
</div>

