<div class="container pt-5">

    <!--menu start-->
    <button id="overview" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target="#modal">Overview</button>
    <button id="sprint" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target="#modal">sprint</button>
    <button id="backlog" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target="#modal">Backlog</button>
    <button id="stats" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target="#modal">Stats</button>
    <!--menu end-->

    <div class="mt-4">
        <h2>@ViewBag.projectName</h2>
    </div>


</div>
