@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "index";
}

<script src="~/Scripts/js/index.js"></script>

@if (User.Identity.IsAuthenticated)
{
    <h1 class="p-5">Welcome @ViewBag.username</h1>
}
else
{
    <h1 class="p-5">You need to login</h1>
}

